body{
    font-family: 'Montserrat', sans-serif;
}

/*Cabeçalho e menu de navegação das páginas*/ 

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 115px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ffe600;
    text-decoration: underline;
}

/*Conteúdo principal das páginas*/ 

main{
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 50px 0px;
}

/*Section Principal*/ 

.principal{
    padding: 3em 0;
    background: #f1ecec;
    margin: 0 auto;
    background: radial-gradient(rgb(211, 211, 211), white)
}

.principal p{
    margin: 0 0 1em; 
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

/*Formulário da página de Contatos*/ 

form{
    margin: 40px 0;
}

form label, legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.mensagem{
    width: 55%;
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 5px 20px 0px;
}

.button {
    background-color: #4CAF50; 
    border-style: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
    position: absolute;
    right: 495px;
    transform: rotate(5.8deg);
  }
  
  .button1 {
    background-color: #4CAF50 ; 
    color: white; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #2b702e;
    color: white;
    transform: scale(1.2);
    transition-duration: 1s;
  }

  table{
        margin-top: 80px;
        
  }

  thead{
      background: #555555;
      color: white;
      font-weight: bold;
  }

  td, th{
      border: solid 2px;
      padding: 5px;
      border-color: #000000;
  }

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-top-width: 10px;
    border-radius: 20px 100px;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    border-color: #18cc11;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{   
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*CSS da Página Principal*/ 
.banner{
    width: 100%;
    height: 300px;
}

.imagemUtensilios{ 
    width: 10%;
    float: left;
    margin: 0 20px 0 20px;   
}

.titulo-principal{
    text-align: center;    
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 2px 2px 5px #000000;
}

.titulo-principal::first-letter{
    font-weight: bold;
}

/*Section Localização*/ 
.mapa{
    padding: 3em 0;
    text-align: center;
    background: radial-gradient(rgb(211, 211, 211), white)
}

.mapa p{
    margin:  0 0 2em;
}

.mapa-conteudo{
    width: 800px;
    margin: 0 auto;
}

/*Section Benefícios*/ 

.beneficios{
    padding: 3em o;
    background: radial-gradient(rgb(211, 211, 211), white);   
}

.conteudo-beneficios{
    width: 1000px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios{
    width: 50%;
    opacity: 0.7;
    box-shadow: 10px 10px 20px 20px #181717 ;
}

.imagem-beneficios:hover{
    opacity: 1;
    transition: 1s;
}


.itens{
    line-height: 2.5;

}

.itens:first-child{
    font-weight: bold;
}

.itens:before {
    content: "★";
}

/*Section Video*/ 
.video{
    width: 560px;
    padding: 5px;
    text-align: center;
    margin: 3em auto 1em auto;
    background: radial-gradient(rgb(211, 211, 211), white);
    box-shadow: inset 0 0 30px #000000; 
}

.video:hover{
    opacity: 1;
}

/*Rodapé das páginas*/ 

footer{
    text-align: center;
    background:url("img/bg.jpg");
    padding: 40px 0;    
}

.copyright{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

/*Adaptação para celular*/ 

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}