header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 115px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

main{
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 50px 0px;
}

form{
    margin: 40px 0;
}

form label, legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.mensagem{
    width: 55%;
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 5px 20px 0px;
}

.button {
    background-color: #4CAF50; /* Green */
    border-style: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
    position: absolute;
    right: 495px;
    transform: rotate(5.8deg);
  }
  
  .button1 {
    background-color: #4CAF50 ; 
    color: white; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #2b702e;
    color: white;
    transform: scale(1.2);
    transition-duration: 1s;
  }

  table{
        margin-top: 80px;
        
  }

  thead{
      background: #555555;
      color: white;
      font-weight: bold;
  }

  td, th{
      border: solid 2px;
      padding: 5px;
      border-color: #000000;
  }

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-top-width: 10px;
    border-radius: 20px 100px;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    border-color: #18cc11;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{   
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background:url("img/bg.jpg");
    padding: 40px 0;    
}

.copyright{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}