header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 115px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
#banner{
    width: 100%;
    height: 300px;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px
}

em strong {
    color: rgb(255, 0, 0);
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
    font-size: x-large;
}

.titulo-centralizado{
    text-align: center;
    margin: 15px;
}

.lista_itens{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
    margin-top: 40px;
}

.imagembeneficios{
    width: 30%;
}

footer{
    text-align: center;
    background:url("img/bg.jpg");
    padding: 40px 0;    
}

.copyright{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}